/* Remove the default margin and padding from the body. */
body {
  padding: 2;
  margin: 2;
}

/* Set map, body, and html to 100% of the screen size. */
#map,
body,
html {
  height: 85%;
  width: 75%;
}
/* #map {position: absolute; top: 0; bottom: 0; left: 0; right: 0;} */